.pagination {
	padding-left: 0;
	text-align: center;
}
.pagination ul {
	display: inline-block;
}

.pagination li {
	display: inline-block;
	padding-left: 15px;
    padding-right: 15px;
}

.pagination a {
    cursor: pointer;
}
